entrypoint = "src/server.ts"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run prisma:generate && npm run prisma:deploy && npm start"]

[[ports]]
localPort = 3000
externalPort = 80
